# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
df = pd.read_csv('data/Admission_Predict.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [4]:
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [9]:
# your code here
df.head(5)
df.count()

Serial No.           385
GRE Score            385
TOEFL Score          385
University Rating    385
SOP                  385
LOR                  385
CGPA                 385
Research             385
Chance of Admit      385
dtype: int64

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [17]:
# your code here
df.isnull().sum()
#no "Trues"

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [18]:
# your code here

df.set_index('Serial No.', drop=False, inplace=True)
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [19]:
# your code here
a = len(df['GRE Score'].unique())
print(a)
b = len(df['CGPA'].unique())
print(b)

49
168

In [30]:
df['concat_id'] = df['GRE Score'].astype('str') + '-' + df['CGPA'].astype('str')
check = len(df['concat_id'].unique())
check

df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,concat_id
Serial No.,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,337-9.65
2,2,316,104,3,3.0,3.5,8.00,1,0.72,316-8.0
3,3,322,110,3,3.5,2.5,8.67,1,0.80,322-8.67
4,4,314,103,2,2.0,3.0,8.21,0,0.65,314-8.21
5,5,330,115,5,4.5,3.0,9.34,1,0.90,330-9.34

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [31]:
# your code here
df.set_index(['concat_id'], inplace=True)
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
concat_id,,,,,,,,,
337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
316-8.0,2,316,104,3,3.0,3.5,8.00,1,0.72
322-8.67,3,322,110,3,3.5,2.5,8.67,1,0.80
314-8.21,4,314,103,2,2.0,3.0,8.21,0,0.65
330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
324-9.04,381,324,110,3,3.5,3.5,9.04,1,0.82
325-9.11,382,325,107,3,3.0,3.5,9.11,1,0.84
330-9.45,383,330,116,4,5.0,4.5,9.45,1,0.91
312-8.78,384,312,103,3,3.5,4.0,8.78,0,0.67
333-9.66,385,333,117,4,5.0,4.0,9.66,1,0.95

In [32]:
df.reset_index(inplace=True)
df

,concat_id,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
1,316-8.0,2,316,104,3,3.0,3.5,8.00,1,0.72
2,322-8.67,3,322,110,3,3.5,2.5,8.67,1,0.80
3,314-8.21,4,314,103,2,2.0,3.0,8.21,0,0.65
4,330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...,...
380,324-9.04,381,324,110,3,3.5,3.5,9.04,1,0.82
381,325-9.11,382,325,107,3,3.0,3.5,9.11,1,0.84
382,330-9.45,383,330,116,4,5.0,4.5,9.45,1,0.91
383,312-8.78,384,312,103,3,3.5,4.0,8.78,0,0.67
384,333-9.66,385,333,117,4,5.0,4.0,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [33]:
# your code here
ds = df.copy()
ds[(ds['CGPA'] > 9) & (ds['Research'] == 1)]

,concat_id,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
4,330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90
10,328-9.1,11,328,112,4,4.0,4.5,9.10,1,0.78
19,328-9.5,20,328,116,5,5.0,5.0,9.50,1,0.94
20,334-9.7,21,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...,...
379,329-9.23,380,329,111,4,4.5,4.0,9.23,1,0.89
380,324-9.04,381,324,110,3,3.5,3.5,9.04,1,0.82
381,325-9.11,382,325,107,3,3.0,3.5,9.11,1,0.84
382,330-9.45,383,330,116,4,5.0,4.5,9.45,1,0.91
384,333-9.66,385,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [36]:
# your code here
a = ds[(ds['CGPA'] > 9) & (ds['SOP'] < 3.5)]
a['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [42]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    col_normed = (col - np.mean(col))/np.std(col)
    return col_normed

0      1.750174
1     -0.992501
2      0.121191
3     -0.643433
4      1.234884
         ...
380    0.736216
381    0.852571
382    1.417729
383    0.304036
384    1.766796
Name: CGPA, Length: 385, dtype: float64

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [45]:
# your code here

ds['CGPA_std'] = standardize(ds['CGPA'])
ds['GRE_std'] = standardize(ds['GRE Score'])
ds['LOR_std'] = standardize(ds['LOR'])
ds

,concat_id,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197
1,316-8.0,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840
2,322-8.67,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517
3,314-8.21,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338
4,330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324-9.04,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840
381,325-9.11,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840
382,330-9.45,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197
383,312-8.78,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019
384,333-9.66,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [48]:
# Libraries
from random import choices
admissions = ds

In [54]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
#I didn't get it.

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [51]:
# your code here
#look up: Given equal-length arrays of row and column labels, 
#return an array of the values corresponding to each (row, col) pair.
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)
admissions
# I also didn't get the function.

,concat_id,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision,deciding_column
0,337-9.65,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,1.193197,1.193197
1,316-8.0,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,-0.063450
2,322-8.67,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,-1.039517,-1.039517
3,314-8.21,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,-0.481338
4,330-9.34,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,-0.481338,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324-9.04,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,0.629546,0.629546
381,325-9.11,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,0.716170,0.716170
382,330-9.45,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,1.149292,1.149292
383,312-8.78,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,-0.409947,-0.409947
384,333-9.66,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,0.635019,0.635019

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [55]:
# your code here
admissions['decision'] = [1 if x > 0.8 else 0 for x in admissions['deciding_column']]
admissions['decision']

0      1
1      0
2      0
3      0
4      0
      ..
380    0
381    0
382    1
383    0
384    0
Name: decision, Length: 385, dtype: int64

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [56]:
# your code here
admissions['decision'].sum()

80

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [58]:
# your code here
admissions.columns = [i.strip('.').replace(' ', '_').lower() for i in admissions.columns]
admissions.columns

Index(['concat_id', 'serial_no', 'gre_score', 'toefl_score',
       'university_rating', 'sop', 'lor', 'cgpa', 'research',
       'chance_of_admit', 'cgpa_std', 'gre_std', 'lor_std', 'decision',
       'deciding_column'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here
#Ricardo's code
admissions['adjusted_gre'] = pd.cut(admissions
                                    [admissions['university_rating'] >= 4]['gre_score'].add(10), 
                                    bins= 4)